.footer-up{


h3{font-size: 3rem;
    font-weight: bold;
    font-family: $font-1;
    margin: 200px 200px 50px 200px;
}

a{
    color: $color-3;
    margin-left:  200px;
    font-size: 1.2rem;
    border-bottom: 2px solid $color-3;
    padding-bottom: 4px;
    

}
}