.section-1{
    width: 80%;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    padding: 200px 0;
    
    
}
.container-img1{
    position: relative;
    height: 100%;
    .img-1{
        
        background-image: url(../../assets/images/Deb.jpg);
        
        background-size: cover;
        width: 100%;
        height: 80%;
        margin-top: 50px;
    }
    .img-1-5{
        background-image: url(../../assets/images/office-hp.jpg);
        background-size: cover;
        height: 100%;
        width: 70%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 15%;
        
    }
        
    }


.section-1-right{
    
    line-height: 25px;
    padding-left: 40px;
    position: relative;

    h3{
    
        font-family: $font-1;
        font-size: 1.3rem;
    }
    p{
        padding: 20px 0;
    }
    a{
        color: $color-3;
    }
}