.section-4{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100vh;

    .img-4{
        background-image: url(../../assets/images/office.jpg);
        background-size: center;
        height: 80%;
        position: relative;
    }
    .nav-4{
        position: absolute;
        bottom: 30px;
        left: 20px;
        ul{
            display: flex;
            
            justify-content: start;
            align-items: center;
        }
        li{
            border: 1px solid rgb(26, 25, 25);
            margin: 0 10px;

        }
        a{
            color: $color-1;
            padding: 10px 20px;
        }
    }
}
.section-4-right{
    background-color: $color-3;

    li{
        color: $color-2;
    }
}