@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../../assets/fonts/MerriweatherSans-Light.ttf);
}

/*Titre*/
/*Text*/
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "font-2", serif;
}

body {
  min-height: 100vh;
  max-width: 100%;
}

h1 h2 h3 h4 {
  font-family: "font-1", sans-serif;
}

p {
  font-family: "font-2", serif;
}

header {
  background-image: url(../../assets/images/01.272.07.005.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-top: 50px;
  color: white;
  position: relative;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  padding: 25px;
}

nav a {
  color: white;
  font-size: 0.9rem;
}

#loupe {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header-down {
  position: absolute;
  bottom: 4%;
  left: 7%;
  padding: 30px;
}

.header-down h1 {
  font-size: 2.5rem;
  font-family: "font-1", sans-serif;
  padding-bottom: 30px;
}

.header-down p {
  font-size: 1.2rem;
}

.section-1 {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 100vh;
  padding: 200px 0;
}

.container-img1 {
  position: relative;
  height: 100%;
}

.container-img1 .img-1 {
  background-image: url(../../assets/images/Deb.jpg);
  background-size: cover;
  width: 100%;
  height: 80%;
  margin-top: 50px;
}

.container-img1 .img-1-5 {
  background-image: url(../../assets/images/office-hp.jpg);
  background-size: cover;
  height: 100%;
  width: 70%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 15%;
}

.section-1-right {
  line-height: 25px;
  padding-left: 40px;
  position: relative;
}

.section-1-right h3 {
  font-family: "font-1", sans-serif;
  font-size: 1.3rem;
}

.section-1-right p {
  padding: 20px 0;
}

.section-1-right a {
  color: #00cdaa;
}

.section-2 {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 100vh;
  padding: 200px 50px;
}

.section-2-right {
  position: relative;
  height: 100%;
}

.section-2-right .img-2 {
  background-image: url(../../assets/images/Sendero-Verde-1.jpg);
  background-size: cover;
  height: 70%;
  width: 80%;
  position: absolute;
  bottom: 40px;
  right: 0;
  max-width: 550px;
}

.section-2-right .img-2-5 {
  background-image: url(../../assets/images/Sendero-Verde-3.jpg);
  height: 70%;
  width: 80%;
  z-index: -1;
  position: absolute;
  top: 30px;
  left: 30px;
}

.section-2-left {
  line-height: 35px;
  padding-right: 40px;
  margin-right: 20px;
  height: 100%;
  position: relative;
}

.text-left {
  position: absolute;
  left: 0;
  top: 40px;
}

.text-left h3 {
  font-family: "font-1", sans-serif;
  font-size: 1.4rem;
}

.text-left p {
  padding: 20px 0;
}

.text-left a {
  color: #00cdaa;
  font-family: "font-2", serif;
}

.section-3 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  margin: 0 auto;
  height: 100vh;
  padding: 100px 0;
}

.container-img3 {
  position: relative;
  height: 100%;
}

.container-img3 .img-3 {
  position: absolute;
  background-image: url(../../assets/images/Dream-Downtown-Hotel-4.jpg);
  background-size: cover;
  height: 90%;
  width: 70%;
  bottom: 0;
  left: 0;
}

.container-img3 .img-3-5 {
  background-image: url(../../assets/images/National-September11-Memorial-1.jpg);
  background-size: cover;
  height: 80%;
  width: 60%;
  z-index: -1;
  position: absolute;
  top: 5px;
  right: 12%;
}

.section-3-right {
  margin: 60px 30px 0 0;
}

.section-3-right h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-family: "font-1", sans-serif;
}

.section-3-right p {
  line-height: 30px;
  font-family: "font-2", serif;
}

.section-3-right .p2 {
  margin: 20px 0;
}

.section-3-right a {
  color: #00cdaa;
}

.section-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  margin-top: 40px;
  position: relative;
}

.section-4 .img-4 {
  background-image: url(../../assets/images/office.jpg);
  background-size: cover;
  height: 95%;
  position: relative;
  margin-top: 15px;
}

.section-4 .nav-4 {
  position: absolute;
  bottom: 70px;
  left: 200px;
}

.section-4 .nav-4 h3 {
  margin-bottom: 20px;
  font-family: "font-1", sans-serif;
  font-size: 1.2rem;
  color: #070707;
}

.section-4 .nav-4 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4 .nav-4 li {
  border: 1px solid #1a1919;
  margin: 0 10px;
  padding: 12px 10px;
}

.section-4 .nav-4 a {
  color: #070707;
}

.section-4-right {
  background-color: #00cdaa;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.section-4-right h3 {
  font-family: "font-1", sans-serif;
  padding: 40px;
  font-size: 1.5rem;
  color: #f7f4f4;
}

.section-4-right a {
  color: #f7f4f4;
  padding: 40px;
}

.section-4-right div {
  font-family: "font-2", serif;
  color: #f7f4f4;
  margin: 40px;
}

.section-4-right div p {
  padding-bottom: 40px;
  border-bottom: 1px solid #f7f4f4;
  line-height: 35px;
}

.section-5 {
  background: #001828;
  color: #f7f4f4;
  z-index: -1;
  height: 100vh;
  /* width: 100%;*/
}

.section-5 a {
  color: #00cdaa;
  font-size: 1rem;
  margin: 5px 0 20px 0;
  padding-left: 40px;
}

.section-5 h3 {
  font-size: 2rem;
  margin: 20px;
  padding: 0 20px;
}

.s5-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 25px;
  left: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* height: 100%;
    width: 100%;*/
  margin: 0 20px;
}

.img-left {
  background-image: url(../../assets/images/Lobello-Ryan-1.jpg);
  background-size: cover;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.img-middle {
  background-image: url(../../assets/images/01.199.12.034.no.rights-crop.jpg);
  background-size: cover;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.img-right {
  background-image: url(../../assets/images/00.526.11.055.jpg);
  background-size: cover;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.footer-up h3 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "font-1", sans-serif;
  margin: 200px 200px 50px 200px;
}

.footer-up a {
  color: #00cdaa;
  margin-left: 200px;
  font-size: 1.2rem;
  border-bottom: 2px solid #00cdaa;
  padding-bottom: 4px;
}
/*# sourceMappingURL=style.css.map */